out
.gdbinit
build/compiler
board/*
!board/pca10040
!board/tc825x
platform/mcu/*
!platform/mcu/include
!platform/mcu/nrf52xxx
!platform/mcu/tc32_825x
platform/arch/*
!platform/arch/arm
!platform/arch/tc32

*.pyc
*.out
*.db
*.sw*
.DS_Store

# source sight project files
*.IAB
*.IAD
*.IMB
*.IMD
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.SearchResults
*.WK3
